.change{
    width: 100%;
    font-size: 0;
    margin: 0 auto;
    text-align: right;	
    position:fixed;
}
.change a{
    text-decoration: none;
    background-color: rgb(140, 204, 168);
    width: 10%;
    height: 10%;
    line-height: 300%;
    display: inline-block;
    text-align: center;	
    color: #000;
    font-size:21px;
}
.change a:hover{
    background-color: rgb(9, 38, 22);
    color: white;
}
.change .active{
    background-color: rgb(22, 88, 19);
    color:white;
}
.menu{
    background-color:rgb(116, 189, 160);
    position:fixed;

}
#container{
    margin: 0 auto;
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;

}
body{
    margin: 0;
}
p{
    text-decoration:none;
    margin: 0;
}
#footer img{
    width: 2%;
    margin: 1% 0 1% 5%;
    /* display: inline-block; */
    float: left;
}
#footer{
    background-color:rgb(139, 215, 190);
    text-decoration: none;
    display:inline-block;
}
#footer a{
    text-decoration: none;
    position: relative;
}
#text{
    text-decoration: none;
    color: grey;
    font-family:'Times New Roman', Times, serif;
    /* display: inline-block; */
    float: left;
    margin-top: 1%;
    margin-left: 10%;
}
#email{
    /* display: inline-block; */
    margin-left: 50%;
    font-size: 150%;
    vertical-align: center;;
}
